body {
    margin:0;
    padding:0;
    font-family: 'IBM Plex Serif', sans-serif;
}

a {
    text-decoration: none;
    color: #c0cbd3;
}

a:hover {
    text-decoration: none;
    color: #ffffff;
}

.header_text{
    font-family: 'Poller One', cursive;
    position: relative;
    font-size: 25px;
}

.header_text a{
    color: #ffffff;
}

.link_logo {
    display: inline-block;
}

.bck_blue {
    background: #4c9cd1
}

.bck_lblue {
    background: #3a468b;
}

.bck_black {
    background: #000000;
}
.img_cover {
    background-size: cover !important;
}
.container {
    width:600px;
    margin: 0 auto;
}

input {
    background: #fafafa;
    border: 1px solid #e9e9e9;
    font-size: 17px;
    padding: 8px;
    border-radius: 3px;
    font-family: 'IBM Plex Serif';
    font-weight: 300;
    width: 100%;
    box-sizing: border-box;
}

select {
    font-size: 16px;
    height: 38px;
    border: 1px solid #e9e9e9;
    border-radius: 3px;
    width: 100%;
}


button {
    background: #0d1831;
    color: #ffffff;
    border: 1px solid #0d1831;
    padding: 5px 10px;
    margin-top: 10px;
    font-size: 15px;
    border-radius: 3px;
    cursor: pointer;
}

.error_label {
    color: #F44336;
    font-weight: 600;
    margin: 10px 0px;
}

.success_label {
    color: #36883d;
    font-weight: 600;
    margin: 10px 0px;
}

.label_inputs {
    font-size: 20px;
    margin: 10px 0px;
    font-weight: 300;
    background: #dcdfff;
    padding: 10px;
    display: inline-block;
}

.split_fields {
    margin: 30px 0px;
    padding: 20px 0px;
    border-top: 2px solid #dddddd;
}

.split_fields.last {
    margin-bottom: 0;
    padding-bottom: 0;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #cecece;
    text-align: center;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: #cecece;
    text-align: center;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: #cecece;
    text-align: center;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: #cecece;
    text-align: center;
  }


.image_upload_container {
    position: relative;
}

.image_upload_container .remove {
    top: 0;
    position: absolute;
    right: 0;
    background: #3a468b;
    color: #ffffff;
    border: 1px solid white;
    padding: 10px;
}

.not_found_container {
    text-align: center;
    margin-top: 96px;
    padding: 20px;
    background-size: 5px 5px !important;
    min-height: 100vh;
    text-align: center;
    font-size: 90px;
    font-family: 'IBM Plex Serif', sans-serif;;
    color: #3a468b;
}

/* --------- error --------- */

.error_wrapper{
    text-align: center;
    margin-top: 150px;
    padding: 20px;
    background-size: 5px 5px !important;
    min-height: 60vh;
    text-align: left;
    font-size: 20px;
    font-family: 'IBM Plex Serif', sans-serif;;
    color: #3a468b;
}

/* --------- about --------- */
.about_container {
    width:800px;
    margin: 0 auto;
}

.about_wrapper{
    text-align: center;
    margin-top: 100px;
    padding: 20px;
    background-size: 5px 5px !important;
    min-height: 60vh;
    text-align: left;
    font-size: 15px;
    font-family: 'IBM Plex Serif', sans-serif;
}

/* ------- header footer ------- */

footer {
    text-align: center;
    font-size: 14px;
    padding: 30px 0px;
    color: #000000
}

footer .img_cover{
   margin:0 auto;
}

footer .footer_discl {
    margin: 10px 0px;
}

/* -------- home -------- */
.home_video {
    opacity: 0.7;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 0;    
}

.home_wrapper {
    margin: 0 auto;
    width: 100%;
    margin-top: auto;
    height: 800px;
    overflow:hidden;
}
.home_text {
    display: block;
    font-family: 'Poller One', cursive;
    color: #ffffff;
}

.home_first {
    position: relative;
    bottom: 200px;
    font-size: 92px;
    text-transform: uppercase;
    padding: 0px 0px;
}

.home_second {
    font-family: 'Nova Square', cursive;
    position: relative;
    bottom: 300px;
    font-size: 25px;
    padding: 0px 0px;
}
.home_button_wrapper{
    position: relative;
    width: 300px;
    left: 300px;
    top: 350px;
}

.home_botton{
    display: inline-block;
    padding: 10px 10px;
}

/* ------- admin ------- */
.league_title {
    position: relative;
    bottom: 100px;
    height: 60px;
    background: #ffffff;
    color: #000000;
    text-align: center;
    font-size: 30pt;
    font-weight: 50;
    font-family: 'IBM Plex Serif', sans-serif;
}

.league_container{
    width: 100%;
    height: 500px;
    padding: 10px 20px;
    text-align: center;
}
.league_card_wrapper{
    text-align: left;
    bottom: 100px;
    position: relative; 
}

.card {
    height: 80%;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    display: inline-block;
}
.card_header{
    background: #b8c0c7;
    text-align: center;
    margin: 20px;
    padding: 20px;
}

.admin_container {
    margin-top: 96px;
    display:flex;
}

.league_botton_wrapper{
    position: relative;
    bottom: 70px;
    width: 100%;
}

.league_botton{
    display: inline-block;
    padding: 0px 0px 30px 10px;
}

.admin_container .admin_left_nav {
    min-height: 90vh;
    background: #282828;
    border-right: 2px solid #01285e;
}

.admin_container  .admin_right {
    flex-grow: 1;
}
.admin_container  .admin_progress {
    text-align: center;
    margin: 20px 0px;
}

.admin_container .matches_tag_red {
    font-weight: 700;
    color: #F44336;
}

.admin_container .matches_tag_green {
    font-weight: 700;
    color: #4CAF50;
}

.admin_container h2 {
    margin: 0px 0px 50px 0px;
    border-bottom: 1px solid #dbdbdb;
    color: #414141;
    font-size: 40px;
}

.about_wrapper a,
.adimin_table a {
    text-decoration: none;
    color: #3778a3;
}

.about_wrapper a:hover,
.adimin_table a:hover {
    text-decoration: none;
    color: #4c9cd1;
}

.editmatch_dialog_wrapper,
.editplayers_dialog_wrapper {
    padding: 20px;
    width: 480px;
}

.addleague_dialog_wrapper {
    padding: 100px;
    width: 480px;
}

.select_team_layout .wrapper{
    display: flex;
}

.select_team_layout .wrapper .left {
    flex-grow: 1;
}

.select_team_layout input[name=result_local_input],
.select_team_layout input[name=result_away_input] {
    width: 60px;
    text-align: center;
    background: #dbdbdb;
    color: #000000;
}

.admin_submit button {
    font-size: 20px;
    margin: 40px 0px;
    background: #00962d;
}

/* ------- signin signup ------- */

.signin_wrapper {
    
    padding: 20px;
    min-height: 60VH;
    text-align: center;
}

.signin_wrapper form {
    width: 350px;
    margin: 0 auto;
}

.signin_wrapper form button {
    width: 100%;
    padding: 10px;
}

.signin_wrapper h2 {
    font-family: 'IBM Plex Serif', sans-serif;
    color: #000000;
    font-size: 30px;
}

.sign_in_button {
    background: #ffffff;
    color: #0d1831;
}


.sign_in_button_img{
    position: relative;
    width: 20px;
    height: 20px;
    padding: 0px 5px;
    display: inline-block;
}

.sign_in_button_text{
    bottom: 5px;
    position: relative;
    text-align: center;
    display: inline;
}

.sign_in_sign_up,
.sign_up_sign_in{
    margin: 20px 0px
}

.sign_in_sign_up a,
.sign_up_sign_in a{
    text-decoration: underline;
    color: #3778a3;
}

.sign_in_sign_up a:hover,
.sign_up_sign_in a:hover{
    text-decoration: underline;
    color: #4c9cd1;
}

.user_dashboard {
    font-size: 60px;
    font-family: 'IBM Plex Serif', sans-serif;;
    color: #14407c;
    text-align: center;
    margin-top: 200px;
}